{% extends 'client/client_base.html' %}


{% block body %}
    <div class="splash">
        <div >
        <button type="button" class="btn btn-primary btn-lg btn-block"><strong><cursive>Welcome</cursive></strong></button>
        </div>

        <div class="splash">
           <div class="btn-group-vertical" data-toggle="buttons">
               <div class="border"></div>
               <button type="button" class="btn btn-outline-secondary btn-lg">
                   <a href="#">View Case Details</a>
               </button>
               <div class="border"></div>
               <button type="button" class="btn btn-primary btn-lg ">Edit Profile</button>
               <div class="border"></div>
               <button type="button" class="btn btn-outline-secondary btn-lg">View Sessions</button>
               <div class="border"></div>
               <button type="button" class="btn btn-primary btn-lg">
                   <a href="{% url 'client:bookAppointment' %}">+ Book an appointment</a>
               </button>
               <div class="border"></div>

           </div>
         </div>

      <div class="border"></div>
         <br><br><br>
{% endblock %}