<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" type="text/css"  href="http://localhost:63342/Counseling_Center_System/bootstrap.min.css">
</head>
<body>
<div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Services<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Counsellors Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:63342/Counseling_Center_System/about_us/about_us.html?_ijt=suvqfv77colf0caqrf0ggvm66c#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="jumbotron">
  <h1 class="display-3">Hello, Matrix!</h1>
  <p class="lead">Welcome to the NSU counsellors.</p>
  <hr class="my-4">
  <p>The first Page to start with</p>
    <div class="card mb-3">
  <h3 class="card-header">Motivational Speeches</h3>
  <div class="card-body">
    <h5 class="card-title">Special treatment</h5>
    <h6 class="card-subtitle text-muted"></h6>
  </div>
  <img style="height: 200px; width: 45%; display: block;" src="http://www.northsouth.edu/assets/images/scc-pg-1.jpg" alt="Card image">
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">

      <div class="card-header" >Header</div>
  <div class="card-body">
    <h4 class="card-title">About</h4>
    <p class="card-text">.</p>
  </div>
</div>


</div>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<div class="card text-white bg-primary mb-3" style="max-width: 200rem;">
  <div class="card-header"> </div>
  <div class="card-body">
    <h4 class="card-title">FAQ's</h4>
      <p class="card-text">North South University  </p>

            <p> Bashundhara , Dhaka-1229, Bangladesh.             <p> Developed & Maintained by IT Office, NSU
                                                                   © 1993-2018 North South University. All rights reserved.
               <p> +880-2-55668200   |    Fax: +880-2-55668202 </p>
                     <p>        registrar@northsouth.edu  </p>
  </div>
</div>





</div>

</body>
</html>