{% extends 'base_layout.html' %}

{% block body %}



<link rel="stylesheet" href="cs.css">

<div id="image-slider">
  <div id="slide-frame">

    <div id="slides">
      <img id="slide1" src="pic3.jpg" alt="" />
      <img id="slide2" src="pic2.jpg" alt="" />
      <img id="slide3" src="pic1.jpg" alt="" />

    </div>
  </div>
  <div id="navigation">
    <a href="#slide1">1</a>
    <a href="#slide2">2</a>
    <a href="#slide3">3</a>

  </div>
</div>
<p> <strong><p style="margin-left:39.5em" <p><font color="green">ABOUT US</font></strong></p>
<p><font color="black"><b> Notrh South Counseling Centre’s Board, staff, and counsellors have been honoured to provide counselling and support
to individuals of our university for the past years.We approach counselling with compassion, based on a relationship of understanding and respect.
Our clients have a renewed sense of hope and confidence as they resolve issues, reduce distress, and achieve personal growth. <br /> <br />

All lives have valid and real challenges that can sometimes hold us back from achieving our full potential.  No matter what the issue,
counselling can help. Through talk therapy with a professional counsellor in a safe and welcoming environment, we can all improve our emotional
health and our ability to deal with stress and challenge in our lives. <br /> <br />

We focus on various matters such as : <br /><br />
*Awareness raising program through motivation enhancing workshop.  <br />
*Individual Counseling/Psychotherapy (One to One Contact)  <br />
*Couple Counseling/Therapy (Two persons contact with one counselor/therapist) <br />
*Family Counseling/Therapy (Two or more family members contact with one counselor/therapist) <br />
*Group Therapy  <br />
*Psychiatric referral service (when medication is essential)  <br />
*Psychological Life Skill Training <br />
*Skill training on controlling emotion <b></font> </p>

{% endblock %}
