<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet"  href="https://bootswatch.com/4/pulse/bootstrap.min.css" />
</head>
<body>
<div class="splash">
    <div class="container" default-color="inverse">
<form>
  <fieldset>
      <button type="button" class="btn btn-primary btn-lg btn-block"><strong><cursive>NSU Online Counselling System Log In </cursive></strong></button>
      </fieldset>



          <div class="splash">
      <div class="container">

           <div class="form-group">
  <label class="col-form-label" for="inputDefault">Name </label>
  <input type="text" class="form-control" placeholder="Name" id="inputDefault">
</div>
          <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" align="center">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

      </div>
          </div>


         <br>
           <div align="center">
               <button type="submit" class="btn btn-outline-secondary btn-lg "><legend><strong>Log In</strong></legend></button>

           </div>


           <div>
               <br>

                <div class="container"><div>
                    <center-align>
                         <ul class="pagination">
             <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
             </li>
             <li class="page-item active">
              <a class="page-link" href="#">1</a>
              </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">4</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">5</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">&raquo;</a>
    </li>
                         </ul>
                    </center-align>
     </div>
                </div>









</div>



</form>
    </div>
</div>
</body>
</html>