{% extends 'base_layout.html' %}

{% block body %}

<p> <strong><p style="margin-left:33.5em" <p><font color="blue"><font size="+2">Frequenly Asked Questions (FAQS)</font></strong></p>
<p><font color="green"><b>1. How many consultations will I need?<b></font> </p>
<a name="Question1"><font color="black"></a><p>Ans: It depends mainly on how deeply affected you are with the issue on hand.  </P>
<p><font color="green"><b>2. What are the common concerns that people come with for counselling? <b></font> </p>
<a name="Question1"></a><p>Ans: Concerns for seeking counselling are wide ranging covering all aspects of human experiences such as <br />
*Issues concerning personality traits <br />
*Issues related to interpersonal relationships<br />
*Issues related to abnormal behavioural patterns arising from extreme feelings of grief, depression, anxiety, and anger.<br />
*Academic issues<br />
*Career related issues </P>
<p><font color="green"><b>3. Do I need a doctor’s note or referral? <b></font> </p>
<a name="Question1"></a><p>Ans: nyone can request an appointment for therapy and it is not necessary to have a doctor’s referral.</P>
<p><font color="green"><b>4. How long are the sessions and how often can/should I come? How long does therapy last? <b></font> </p>
<a name="Question1"></a><p>Ans: Therapy sessions typically last for 60 minutes. </P>
<p><font color="green"><b>5. Do you take care of confidentiality? <b></font> </p>
<a name="Question1"></a><p>Ans: Yes.Confidentiality is our prime principle that our counselling is based on.</P>
<p><font color="green"><b>6. Can I see a counsellor of specific gender?  <b></font> </p>
<a name="Question1"></a><p>Ans:  Yes. Both female and male counsellors are available and both are comfortable to handle all types of issues.<br />
If you prefer to see a specific gender counsellor, you may request for it</P>
<p><font color="green"><b>7. How can I be sure that counselling will solve my problem? <b></font> </p>
<a name="Question1"></a><p>Ans:  We cannot give you absolute surety. Counselling provides you an opportunity to discuss,
reflect, <br /> and understand yourself and your issues in a relaxed, confidential, and non-judgemental atmosphere. <br />  A counsellor listens to you empathically,
helps you to clarify your concerns, encourages you to take <br /> your own decisions, and empowers you to deal
with the life’s challenges in future. </P>
<p><font color="green"><b>8. ow can I persuade someone to go for counselling? <b></font> </p>
<a name="Question1"></a><p>Ans:  The best approach for you will be to personally understand the process of counselling and
its benefits.<br />Communicate it to the person whom you want to motivate to go for counselling and allow him/her to make <br />up his/her mind.  If required, you may provide moral support by accompanying the person to the counselling centre.


</P>
 <br />
 <br />
 <br />


<p> <strong><p style="margin-left:36.5em" <p><font color="blue"> <font size="+2">Articles & Books </font></strong></p>

     <a href = "https://www.psychologytoday.com/intl/blog/science-and-sensibility/201506/freedom-self-doubts-anxiety-and-procrastination " target="_blank" > 1) Freedom From Self-Doubts, Anxiety, And Procrastination <br />

     <a href = "https://www.psychologytoday.com/intl/blog/science-and-sensibility/201510/stress-anxiety-and-procrastination " target="_blank" > 2) On Stress, Anxiety, and Procrastination <br />

    	<a href = "https://www.psychologytoday.com/intl/blog/science-and-sensibility/201407/why-is-depression-so-distressing " target="_blank" > 3) Why Is Depression So Distressing? <br />
      <a href = "https://www.kanatapsychology.com/connection-are-you-blocking-it/ " target="_blank" > 4) Connection: Are You Blocking It? <br />

      <a href = "https://www.psychologytoday.com/intl/blog/science-and-sensibility/201407/why-is-depression-so-distressing " target="_blank" > 5) Why Is Depression So Distressing? <br />


 <br>
 <br>
 <br>
 <br>


{% endblock %}

